<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Video Chat App</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>

        <div id="video-chat-form">
            <h2 class="text">Video Chat App</h2>
            <input id="roomName" name="roomName" type="text" placeholder="Room Name" />
            <button id="join">Join</button>
        </div>
        <div id="video-chat-rooms">
            <video id="user-video"></video>
            <video id="peer-video"></video>
        </div>

        <div id="btn-group" class="btn-group" style="display:none">
            <button id="muteButton">Mute</button>
            <button>Leave Room</button>
            <button>Hide Camera</button>
        </div>


    </body>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="js/script.js"></script>
</html>