body {
    background-color: black;
    font-family: "Helvetica";
  }
  
  h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #ffffff;
  }
  
  #video-chat-form {
    text-align: center;
    max-width: 600px;
    background-color: #555;
    margin: 30px auto;
  }
  
  #chat-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
  }
  
  #output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
  }
  
  #feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
  }
  
  #output strong {
    color: #574d4d;
  }
  
  label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
  }
  
  input {
    padding: 20px;
    box-sizing: border-box;
    background: #eee;
    display: block;
    width: 100%;
    background: rgb(255, 253, 253);
    font-family: Nunito;
    font-size: 16px;
  }
  
  #join {
    background: #302e2e23;
    color: #fff;
    font-size: 18px;
    padding: 12px 0;
    width: 100%;
  }

  #video-chat-rooms{
    display:flex;
    justify-content: center;
  }

  .btn-group button{
    background-color: #000000;
    border: 1px solid white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:not(:last-child){
    border-right: none;
  }

  .btn-group:after{
    content: "";
    clear: both;
    display: table;

  }


  /* Add a background color on hover*/
  .btn-group button:hover {
    background-color: #c7c0c0e1;
  }
  
  .btn-group{
    display:flex;
    justify-content: center;
  }

